@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	background: linear-gradient(to bottom right,
			rgb(var(--background-start-rgb)),
			rgb(var(--background-end-rgb)));
	color: rgb(var(--foreground-rgb));
}

.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.app-container>* {
	min-height: 4rem;
}

.app-container>header>nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	&>a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}